body {
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
  }
  
h1 {
  font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color:LightGreenOlive
  }
  
h2 {
    font-size: 56px;
    }
    
.hero {
  background-image:url("https://i.postimg.cc/hPMh9fX9/IMG-0118.jpg");
  background-size:cover;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color:#ffffff;
  padding: 250px 0;
  margin: 30px;
      }
.hero a {
  color: #00FFAA;
  font-size: 1.25em;
  text-decoration: none;
}
      
#footer {
 font-size: 0.75rem;
      }
